@media(max-width: 980px) {
  .showcase::after{
    height: 50vh;
  }

  .content{
    top: 5%;
    margin-top: 5px;

    .logo{
      height: 140px;
      width: 140px;
    }

    .text{
      display: none;
    }
  }

  .services{
    .grid-3{
      grid-template-columns: 1fr;
    }
    div{
      border-bottom: 1px #333333 dashed;
      padding: 1.2rem 1rem;
    }
  }

  .about{
    .grid-2{
      grid-template-columns: 1fr;
    }
  }

}

