body{
  background-color: rgba(0,0,0,0.9);
  margin: 0;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container{
  max-width: 950px;
  overflow: hidden;
  margin: auto;
  padding: 4rem 1rem;
}

.bg-light{
  background: #f4f4f4;
  color: #333333;
}
.bg-dark{
  background: #333333;
  color: #f4f4f4;
}

.center{
  text-align: center;
  margin: auto;
}
.showcase::after{
  content: '';
  height: 100vh;
  width: 100%;
  background-image: url("https://image.ibb.co/gzOBup/showcase.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition:all 1s;
}
.showcase:hover::after{
  filter: blur(0);
  -webkit-filter: blur(0);
}

.content{
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 50%;
  margin-top: 105px;
  margin-left: -145px;
  width: 300px;
  height: 350px;
  text-align: center;
  transition: all ease-out 3s;

  &:hover{
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }

  .logo{
    width: 180px;
    height: 180px;
  }

  .title{
    font-size: 2.2rem;
    margin-top: 1rem;
  }

  .text{
    line-height: 1.7;
    margin-top: 1rem ;
  }
}

.services{
  .grid-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
}

.about{
  .grid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}

footer{
  padding: 1.2rem;
  .p{
    margin: 0;
  }
}

@import "media";

